{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block javascript %}
<script async src="{% static '/js/bookmark.js' %}" type="text/javascript"></script>
<script async src="{% static '/js/search.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="askModal" class="modal">
    <div class="modal-content">
        <form id="askForm" method="POST">
            {% csrf_token %}
            <div class="tab">
                <h1>Search Question
                    <span class="close">&times;</span>
                </h1>
                <p>Question
                    {{form.title}}
                </p>
                <div style="max-height: 200px; overflow-y: auto" id="searchResult">
                    <div id="searching"> Searching.. </div>
                </div>
            </div>

            <div class="tab">
                <p>Category
                    {{form.category}}
                </p>
                <p> Summarize it
                    {{form.summary}}
                </p>
            </div>

            <div class="tab">Tags
                <p>{{ form.tags }}</p>
            </div>

            <div style="overflow:auto;">
                <div style="float:right;">
                    <button class="button button-danger" type="button" id="prevBtn"
                        onclick="nextPrev(-1)">Previous</button>
                    <button class="button button-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
            </div>

            <div style="text-align:center;margin-top:20px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>

        </form>
    </div>
</div>
<main class="main">
    <h1 style="padding-left: 20px"> Home </h1>

    {% if not questions %}
    <div style="padding-left: 20px; display: flex; flex-direction: row; align-items:center; font-size:1.5rem;">
        <svg id="a75bc36a-d732-4694-9701-0c8e65c5a43b" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
            width="200" height="200" viewBox="0 0 948.74001 656.18799">
            <path
                d="M893.48313,435.69519,916.85039,488.328l-5.62311,65.09312a11.01965,11.01965,0,1,0,13.175-.80264l.91567-.16116,9.15532-65.04758-15.0999-65.613Z"
                transform="translate(-125.62999 -121.906)" fill="#ffb8b8" />
            <ellipse id="b78bcc7b-dc51-41b0-8da1-d9ae2dc50050" data-name="Ellipse 432" cx="701.12502" cy="651.84399"
                rx="41.704" ry="4.344" fill="#e6e6e6" />
            <ellipse id="e61ab66d-6414-4e65-834d-738041a766d7" data-name="Ellipse 433" cx="824.49801" cy="651.84399"
                rx="41.704" ry="4.344" fill="#e6e6e6" />
            <ellipse id="b14e1fdf-dcce-4a60-9ebe-71ac2d975d4d" data-name="Ellipse 434" cx="920.06901" cy="653.20099"
                rx="28.671" ry="2.987" fill="#e6e6e6" />
            <path id="b155b0ed-0d8b-4bf4-9d1d-fec88f99f221" data-name="Path 2215"
                d="M1053.9,752.469a79.3006,79.3006,0,0,1-3.69995,21.921c-.052.165-.106.327-.16.492h-13.824c.015-.147.03-.312.04395-.492.922-10.6,6.236-75.092-.118-86.121C1036.7,689.163,1054.976,718.798,1053.9,752.469Z"
                transform="translate(-125.62999 -121.906)" fill="#e6e6e6" />
            <path id="be40ba6a-ff22-46fc-b19c-3116db10fbe1" data-name="Path 2216"
                d="M1052.867,774.39q-.17394.24747-.359.492h-10.371c.079-.14.17-.3.275-.492,1.713-3.092,6.784-12.337,11.49194-21.921,5.059-10.3,9.7-20.99,9.309-24.859C1063.334,728.483,1066.834,755.084,1052.867,774.39Z"
                transform="translate(-125.62999 -121.906)" fill="#e6e6e6" />
            <path id="eeaf384e-0545-4292-b8fb-facd94914478" data-name="Path 2217"
                d="M763.112,537.816h-629.9a7.591,7.591,0,0,1-7.582-7.582V129.488a7.59,7.59,0,0,1,7.582-7.582h629.9a7.59,7.59,0,0,1,7.582,7.582V530.234A7.591,7.591,0,0,1,763.112,537.816Zm-629.9-412.91a4.587,4.587,0,0,0-4.582,4.582V530.234a4.587,4.587,0,0,0,4.582,4.582h629.9a4.587,4.587,0,0,0,4.582-4.582V129.488a4.587,4.587,0,0,0-4.582-4.582Z"
                transform="translate(-125.62999 -121.906)" fill="#e6e6e6" />
            <path id="fa4958e0-769a-4069-95d8-47331dde78e6" data-name="Path 2218"
                d="M599.955,180.987H266.213a6.189,6.189,0,0,0-6.182,6.182V472.552a6.189,6.189,0,0,0,6.182,6.182H599.955a6.189,6.189,0,0,0,6.182-6.182V187.169A6.189,6.189,0,0,0,599.955,180.987Zm3.7,291.566a3.718,3.718,0,0,1-3.7,3.716H266.213a3.711,3.711,0,0,1-3.7-3.716V187.169a3.711,3.711,0,0,1,3.7-3.716H599.955a3.718,3.718,0,0,1,3.7,3.716Z"
                transform="translate(-125.62999 -121.906)" fill="#3f3d56" />
            <path id="b96bbff1-710e-4cf9-8f0a-207f6a2454c7" data-name="Path 2219"
                d="M343.249,427.991c0,.44-.012.88-.035,1.308a25.175,25.175,0,0,1-50.281,0c-.023-.428-.035-.868-.035-1.308a25.175,25.175,0,0,1,50.35,0Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path id="a99625a5-8e94-4aa2-927a-7cc58a47d0f9" data-name="Path 2220"
                d="M574.021,411.204H376.21a4.2,4.2,0,0,0,0,8.394H574.021a4.2,4.2,0,0,0,.31707-8.394Q574.17962,411.198,574.021,411.204Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path id="f2e8dd5a-2c6f-4c4a-9a4a-91faa08ec764" data-name="Path 2221"
                d="M461.327,436.384H376.21a4.191,4.191,0,0,0,0,8.382h85.117a4.191,4.191,0,0,0,.014-8.382Z"
                transform="translate(-125.62999 -121.906)" fill="#e6e6e6" />
            <path id="b0d633b1-50f0-455b-880b-69d0ec30b218" data-name="Path 2222"
                d="M679.244,380.069H345.5a7.057,7.057,0,0,1-7.049-7.049V226.554a7.057,7.057,0,0,1,7.049-7.049H679.24a7.057,7.057,0,0,1,7.049,7.049V373.016A7.057,7.057,0,0,1,679.244,380.069Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path id="a4d76c33-4002-4242-b64e-8bf1a807cbd3" data-name="Path 2223"
                d="M413.471,271.424a4.2,4.2,0,0,0-.36655,8.392q.18319.008.36655,0H611.278a4.2,4.2,0,0,0,0-8.392Z"
                transform="translate(-125.62999 -121.906)" fill="#fff" />
            <path id="a4bd9330-30bf-4fe3-97b2-bd8f02deaa7a" data-name="Path 2224"
                d="M413.471,295.737a4.2,4.2,0,0,0-.36655,8.392q.18319.008.36655,0H611.278a4.2,4.2,0,0,0,0-8.392Z"
                transform="translate(-125.62999 -121.906)" fill="#fff" />
            <path id="f4033984-e442-4bd8-ab2d-9d91ebc99eb7" data-name="Path 2225"
                d="M413.471,319.754a4.2,4.2,0,0,0,0,8.392h85.117a4.2,4.2,0,1,0,.36655-8.392q-.1832-.008-.36655,0Z"
                transform="translate(-125.62999 -121.906)" fill="#fff" />
            <circle id="f8f82ae4-70bd-49d3-8148-f9c9501b42d9" data-name="Ellipse 435" cx="26.91303" cy="21.33699"
                r="5.213" fill="#6c63ff" />
            <circle id="fa464750-9ca1-4e8d-97b4-cb58e01582d0" data-name="Ellipse 436" cx="45.15802" cy="21.33699"
                r="5.213" fill="#6c63ff" />
            <circle id="a6e2f59b-2266-45a7-a68c-25353aee0074" data-name="Ellipse 437" cx="63.40302" cy="21.33699"
                r="5.213" fill="#6c63ff" />
            <circle id="f535a5d2-8502-4b05-b17c-60a180e2caaa" data-name="Ellipse 438" cx="759.87603" cy="225.15999"
                r="23.221" fill="#ffb8b8" />
            <path id="a6ce20f5-c5fa-405c-86dd-46bb39d2c055" data-name="Path 2228"
                d="M839.57705,470.903l60.987,11.346c20.561-37.668,31.9-71.681,12.765-93.608l-36.167-2.128c-23.109,24.712-42.654,48.694-29.374,65.954Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path id="af3567e9-adb8-4eb6-a03d-f215f48a4fbf" data-name="Path 2229"
                d="M893.886,441.326c13.957,5.34,26.911.7,38.8-14.521l-17.622-34-22.455,4.45Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path id="bace76f9-9256-4201-a271-96ace1a4e0ec" data-name="Path 2230"
                d="M833.9,753.146l24.111-1.24,15.6-163.283,79.425,162.4,24.82-.709L930.348,607.769c-1.875-47.556-3.835-94.988-24.111-115.592l-7.091-14.892-56.732-12.056-7.8,14.892C816.527,522.354,827.146,643.024,833.9,753.146Z"
                transform="translate(-125.62999 -121.906)" fill="#2f2e41" />
            <path
                d="M862.97588,426.228l-19.856,53.9L807.115,531.36512a11.01965,11.01965,0,1,0,11.06153,7.202l.83154.41589,46.09521-46.8,26.94776-61.7Z"
                transform="translate(-125.62999 -121.906)" fill="#ffb8b8" />
            <path id="a8f9c73a-9317-4677-96f1-9f40fb1bc65c" data-name="Path 2233"
                d="M858.015,426.227c9.934,11.164,23.57,13,41.131,4.964V392.897l-21.984-6.382Z"
                transform="translate(-125.62999 -121.906)" fill="#6c63ff" />
            <path
                d="M958.33282,411.728c-3.53077-4.417-8.459-7.453-13.23682-10.475-4.77783-3.022-9.63086-6.233-12.87793-10.863-5.18115-7.388-5.42822-17.105-4.65527-26.095s2.355-18.173.16406-26.927c-2.898-11.58-12.49268-20.95605-23.82861-24.695-11.33643-3.739-24.08643-2.143-34.75,3.221l2.93066-2.767a11.66388,11.66388,0,0,0-3.27881,21.637c4.811,2.653,11.36475,1.893,15.23,5.793,3.80518,3.845,3.00781,10.156,1.63379,15.388-3.55469,13.544-9.19287,26.582-11.146,40.444-1.95263,13.862.51612,29.394,10.8003,38.894,7.561,6.983,18.30273,9.677,28.59179,9.471,10.28907-.206,20.32911-3.02106,30.229-5.821,6.94482-1.962,14.78027-4.684,17.5-11.372C963.76885,422.328,961.86407,416.145,958.33282,411.728Z"
                transform="translate(-125.62999 -121.906)" fill="#2f2e41" />
            <path
                d="M858.61952,771.83553l-51.76913-.00192v-.65479a20.15106,20.15106,0,0,1,20.15-20.14967h.00128l31.61882.00128Z"
                transform="translate(-125.62999 -121.906)" fill="#2f2e41" />
            <path
                d="M978.61952,769.83553l-51.76913-.00192v-.65479a20.15106,20.15106,0,0,1,20.15-20.14967h.00128l31.61882.00128Z"
                transform="translate(-125.62999 -121.906)" fill="#2f2e41" /></svg>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 5px;">
            Looks like you have not connected anyone yet
            <a href="{% url 'questions_list'%}" class="a button button-information"> Start Exploring </a>
        </div>
    </div>
    {% endif %}

    <div class="list mobile-list-extra">
        <div class="card-extra">
            <h1> Top Questions </h1>
            <div class="list">
                {% for question in top_questions %}
                <a style="padding: 10px; border-top: 1px solid #dee0e1" class="a"
                    href="{% url "questions_detail" pk=question.pk slug=question.slug%}">
                    <div style="font-size: 1.8rem;">{{question.title}}</div>
                    <p style="font-size: 1rem;">{{question.summary|truncatewords:10}} </p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="list infinite-container">
        {% for question in questions%}
        <div class="card infinite-item">
            <div class="card-header">
                <div class="card-header-item">
                    <div class="card-header-item-group">
                        <a href="{% url 'users_detail' pk=question.user.profile.pk username=question.user.username%}">
                            <img width="32px" height="32px" src={{question.user.profile.image.url}} />
                        </a>
                        <div>
                            <div class="item-name">
                                {% ifequal question.noc "community"%}
                                <div>
                                    From
                                    <strong>
                                        <a class="a"
                                            href="{% url 'communities_detail' pk=question.community.pk slug=question.community.slug%}">
                                            {{question.community.community_name}}
                                        </a>
                                    </strong>
                                    by
                                    <strong>
                                        <a class="a"
                                            href="{% url 'users_detail' pk=question.user.profile.pk username=question.user.username%}">
                                            {{question.user.username}}
                                        </a>
                                    </strong>
                                </div>
                                {% else %}
                                <a class="a"
                                    href="{% url 'users_detail' pk=question.user.profile.pk username=question.user.username%}">
                                    {{question.user.username}}
                                </a>
                                {% endifequal %}
                            </div>
                            <div class="item-date">
                                {{question.get_time_delta}} {% if question.edited %}(edited){%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a class="a" href="{% url 'questions_detail' pk=question.pk slug=question.slug %}">
                    <div class="card-body-title">
                        {% if question.solved %}[STAR] {%endif%}{{question.title}}
                    </div>
                </a>
                <div class="card-body-summary">
                    {{question.summary|truncatewords:50}}
                </div>
                <div class="card-body-tags">
                    <a href="{% url 'questions_category' category=question.category%}" class="a tags-category">
                        {{question.get_category_display}} </a>
                    {% for tag in question.tags.all %}
                    <a class="a" href="{% url 'questions_tag' tag=tag%}"> {{tag}} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                    <div class="card-footer-item-group">
                        <div class="card-footer-item-group-detail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                            <div>
                                {{question.viewed.all.count}}
                            </div>
                        </div>
                        <div class="card-footer-item-group-detail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                            </svg>
                            <div>
                                {{question.thumbsup.all.count}}
                            </div>
                        </div>
                        <div class="card-footer-item-group-detail">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                class="bi bi-chat-square-text" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path
                                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                            </svg>
                            <div>
                                {{question.questioncomment_set.all.count}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer-item">
                    <div class="card-footer-item-group">
                        <form id="{{question.id}}" method="POST"
                            action="{% url 'questions_detail_bookmark' pk=question.pk slug=question.slug%}">
                            {% csrf_token %}
                            <button style="padding: 0; margin-right: 15px;"
                                class="question_detail_bookmark_button button" type="submit">
                                {% if user in question.bookmark.all%}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                    class="bi {{question.pk}}-bi-bookmark-check-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                                <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="#fd702e" class="bi {{question.pk}}-bi-bookmark" viewBox="0 0 16 16">
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                </svg>
                                {% else %}
                                <svg style="display: none;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="#fd702e" class="bi {{question.pk}}-bi-bookmark-check-fill"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                    class="bi {{question.pk}}-bi-bookmark" viewBox="0 0 16 16">
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                </svg>
                                {% endif %}
                            </button>
                        </form>

                        {% comment %} <button style="padding: 0;" class="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fd702e"
                                class="bi bi-share-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                            </svg>
                        </button> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if questions.has_next %}
    <div style="text-align: center;">
        <a class="infinite-more-link button button-primary" href="?page={{ questions.next_page_number }}">Load More</a>
    </div>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>

</main>
<aside class="aside">
    <div class="card-extra">
        <h1> Top Questions </h1>
        <div class="list">
            {% for question in top_questions%}
            <a style="padding: 10px; border-top: 1px solid #dee0e1" class="a"
                href="{% url "questions_detail" pk=question.pk slug=question.slug%}">
                <div style="font-size: 1.2rem;">{{question.title}}</div>
                <p style="font-size: 0.8rem;">{{question.summary|truncatewords:10}} </p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="card-extra">
        <h1> Top Communities </h1>
        <div class="list">
            {% for community in top_communities%}
            <a style="display: flex; flex-direction: row; gap: 10px; padding: 10px; border-top: 1px solid #dee0e1"
                class="a" href="{% url "communities_detail" pk=community.pk slug=community.slug%}">
                <img alt="{{community.community_name}}'s picture" src="{{ community.image.url}}" width="20px"
                    height="20px">
                <div style="font-size: 1.2rem;">{{community.community_name}}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</aside>


<script src="{% static '/js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static '/js/infinite.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>
{% endblock %}