<!DOCTYPE html>
<html>

<head>
  <title>{% block head_title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noarchive">
  {% block extra_head %}
  {% endblock %}
  {% load static %}
  <link href="{% static '/css/auth.css' %}" rel="stylesheet" type="text/css" media="all">

</head>

<body>

  <div class="container">
    {% block body %}

    {% comment %} {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endcomment %}

    {% comment %} <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> {% endcomment %}

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </div>
</body>

</html>